<br>
<br>

<h1 align="center">New Order</h1>
<hr>
<br>
<div class="container">
  <form action="/orders" method="POST" align="center">
    <p><label for="customer_name">Customer Name:</label></p>
    <input type="text" name="customer_name"></input>
    <p><label for="item">Item:</label></p>
    <input type="text" name="item"></input>
    <p><label for="amount">Amount:</label></p>
    <input type="text" name="amount"></input>
    <p><label for="pick_up_date">Pick Up Date:</label></p>
    <input type="date" name="pick_up_date"></input>            
      <hr><br>
    <input align="center" type="submit" value="Submit" />
  </form>
</div>>