<form action="/login" method="POST">
    <div class="container">
        <h2 class="display-1">Log in</h2>
        <p>
          <h3>
            <small class="text-muted">Please fill in this form to log in.</small></h3></p>
        <hr>
        <br>
      <label for="username">Username:</label>
      <input type="text" name="username">
      <br>
      <br>
      <label for="password">Password:  </label>
      <input type="password" name="password">
      <hr>
      <br>
      <input type="submit" value="Login" >
    </div>
     <br>
      <div class="container signin">
        <p>
          <h4>
            <small class="text-muted">Don't have an account? <a href="/signup">Sign-up</a>.<small><h4></p>
    </div>
    
  </form>