<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<h1 align="center" class="display-1">Welcome</h1>
<h2 align="center">
    <small class="text-muted">Please <a href="/login">Login</a> or <a  href="/signup">Signup</a></small>
</h2>
<br>
<hr>
